body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
header {
  background-color: #eeeeee;
}

.header-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.header-nav__list {
  list-style: none;
}

.header-nav__list a,
.header-shopping-cart {
  margin-left: 10px;
  color: #000000;
}

.header-nav__list a:hover,
.header-nav__list a:focus,
.header-shopping-cart:hover,
.header-shopping-cart:focus {
  color: #fb565a;
}

.header-nav__list a:active,
.header-shopping-cart:active {
  color: #000000;
  opacity: 0.3;
}

.active-nav {
  border-bottom: 2px solid #fb565a;
}

.slider__big-text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__small-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.slider__button {
  padding: 16px 54px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider__button:hover,
.slider__button:focus {
  background-color: #e74246;
}

.slider__button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.swith__list {
  list-style: none;
}

.header-text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* main */
.order__list {
  list-style: none;
}

.order__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.order__text {
  width: 240px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.order__button {
  padding: 16px 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.order__button__red {
  background-color: #fb565a;
}

.order__button__red:hover,
.order__button__red:focus {
  background-color: #e74246;
}

.order__button__red:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.order__button__green {
  background-color: #00ca74;
}

.order__button__green:hover,
.order__button__green:focus {
  background-color: #00bc6c;
}

.order__button__green:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.order__button__yellow {
  background-color: #efc84a;
}

.order__button__yellow:hover,
.order__button__yellow:focus {
  background-color: #eab534;
}

.order__button__yellow:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.about-us {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.about-us__big-text {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us__small-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us__order-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us__order-list {
  list-style: none;
}

.about-us__order-item {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.about-us__table-title {
  height: 54px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-us__table__big-text {
  height: 54px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.about-us__table__small-text td {
  width: 89px;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.partners__list {
  list-style: none;
  border-top: 2px solid #eeeeee;
}

.partners__item {
  opacity: 0.2;
}

.partners__item:hover,
.partners__item:focus {
  opacity: 1;
}

.partners__item:active {
  opacity: 0.1;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter-form label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-form ul {
  list-style: none;
}

input:disabled + label {
  opacity: 0.3;
}

/* range filter */

.filter-price__range {
  width: 260px;
}

.price__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 21px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.price__range-controls .range-scale {
  height: 2px;
  background-color: #d7dcde;
}

.price__range-controls .range-bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.price__range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.price__range-controls .toggle-min {
  left: 19px;
}

.price__range-controls .toggle-max {
  left: 161px;
}

.filter-price__controls {
  font-size: 0;
}

.filter-price__controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-price__controls input {
  width: 80px;
  padding: 8px 2px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter__button {
  padding: 16px 88px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #dfdfdf;
}

.filter__button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.sort__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort__list {
  list-style: none;
}

.sort__item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.sort__item a:focus,
.sort__item a:hover {
  opacity: 0.6;
}

.sort__item a:active {
  opacity: 1;
}

.sort__active-point a {
  opacity: 1;
}

.layout__list {
  list-style: none;
}

.layout__item__img img:first-child {
  opacity: 0.12;
}

.layout__item__info {
  background-color: #eeeeee;
}

.layout__item__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.layout__item__text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.layout__button {
  padding: 16px 63px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.layout__button:hover,
.layout__button:focus {
  background-color: #e74246;
}

.layout__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pages__list {
  list-style: none;
}

.pages__item a {
  display: block;
  padding: 16px 22px;
  margin-right: 11px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeeeee;
  color: #000000;
}

.pages__active-point a {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pages__item a:hover,
.pages__item a:focus {
  background-color: #dfdfdf;
}

.pages__item a:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

/* footer */
.nerds-design-studio {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.map__contacts__address,
.map__contacts__number {
  width: 201px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.map__contacts__btn {
  padding: 14px 43px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.map__contacts__btn:hover,
.map__contacts__btn:focus {
  background-color: #e74246;
}

.map__contacts__btn:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social__list {
  list-style: none;
}

.social__item a {
  color: #000000;
}

.footer__big-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer__small-text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* popup */
.write-us__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us__item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.write-us__item input,
.write-us__item textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__item input::placeholder,
.write-us__item input:-ms-input-placeholder,
.write-us__item input::-ms-input-placeholder,
.write-us__item input::-webkit-input-placeholder,
.write-us__item input:-moz-placeholder,
.write-us__item input::-moz-placeholder,
.write-us__item textarea::placeholder,
.write-us__item textarea:-ms-input-placeholder,
.write-us__item textarea::-ms-input-placeholder,
.write-us__item textarea::-webkit-input-placeholder,
.write-us__item textarea:-moz-placeholder,
.write-us__item textarea::-moz-placeholder {
  color: #444444;
  opacity: 0.5;
}

.write-us__item input:hover,
.write-us__item textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us__item input:focus,
.write-us__item textarea:focus {
  border: 2px solid #000000;
}

.write-us__item input:focus::placeholder,
.write-us__item input:focus:-ms-input-placeholder,
.write-us__item input:focus::-ms-input-placeholder,
.write-us__item input:focus::-webkit-input-placeholder,
.write-us__item input:focus:-moz-placeholder,
.write-us__item input:focus::-moz-placeholder,
.write-us__item textarea:focus::placeholder,
.write-us__item textarea:focus:-ms-input-placeholder,
.write-us__item textarea:focus::-ms-input-placeholder,
.write-us__item textarea:focus::-webkit-input-placeholder,
.write-us__item textarea:focus:-moz-placeholder,
.write-us__item textarea:focus::-moz-placeholder {
  color: #444444;
}

.write-us__button-send {
  padding: 16px 90px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.write-us__button-send:hover,
.write-us__button-send:focus {
  background-color: #e74246;
}

.write-us__button-send:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
