body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/* header */
.header-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.header-nav__list {
  list-style: none;
}

.header-nav__list a,
.header-shopping-cart {
  margin-left: 10px;
  color: #000000;
}

.header-nav__list a:hover,
.header-nav__list a:focus,
.header-shopping-cart:hover,
.header-shopping-cart:focus {
  color: #fb565a;
}

.header-nav__list a:active,
.header-shopping-cart:active {
  color: #000000;
  opacity: 0.3;
}

.active-nav {
  border-bottom: 2px solid #fb565a;
}

.header-text {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/* main */
.order__list {
  list-style: none;
}

.order__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.order__text {
  width: 240px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.order__button {
  padding: 16px 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.order__button__red {
  background-color: #fb565a;
}

.order__button__red:hover,
.order__button__red:focus {
  background-color: #e74246;
}

.order__button__red:active {
  background-color: #d7373b;
  color: #e37376;
}

.order__button__green {
  background-color: #00ca74;
}

.order__button__green:hover,
.order__button__green:focus {
  background-color: #00bc6c;
}

.order__button__green:active {
  background-color: #00aa62;
  color: #4dc491;
}

.order__button__yellow {
  background-color: #efc84a;
}

.order__button__yellow:hover,
.order__button__yellow:focus {
  background-color: #eab534;
}

.order__button__yellow:active {
  background-color: #e5a722;
  color: #edc265;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter-form label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-form ul {
  list-style: none;
}

input:disabled + label {
  opacity: 0.3;
}

.filter__button {
  padding: 16px 88px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #dfdfdf;
}

.filter__button:active {
  background-color: #d5d5d5;
  color: #959595;
}

/* footer */
.social__list {
  list-style: none;
}

.social__item a {
  color: #000000;
}

.footer__big-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer__small-text {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* popup */
.write-us__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us__item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.write-us__item input,
.write-us__item textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us__item input::placeholder,
.write-us__item input:-ms-input-placeholder,
.write-us__item input::-ms-input-placeholder,
.write-us__item input::-webkit-input-placeholder,
.write-us__item input:-moz-placeholder,
.write-us__item input::-moz-placeholder,
.write-us__item textarea::placeholder,
.write-us__item textarea:-ms-input-placeholder,
.write-us__item textarea::-ms-input-placeholder,
.write-us__item textarea::-webkit-input-placeholder,
.write-us__item textarea:-moz-placeholder,
.write-us__item textarea::-moz-placeholder {
  color: #a1a1a1;
}

.write-us__item input:hover,
.write-us__item textarea:hover {
  border: 2px solid #b4b9bb;
}

.write-us__item input:focus,
.write-us__item textarea:focus {
  border: 2px solid #000000;
}

.write-us__item input:focus::placeholder,
.write-us__item input:focus:-ms-input-placeholder,
.write-us__item input:focus::-ms-input-placeholder,
.write-us__item input:focus::-webkit-input-placeholder,
.write-us__item input:focus:-moz-placeholder,
.write-us__item input:focus::-moz-placeholder,
.write-us__item textarea:focus::placeholder,
.write-us__item textarea:focus:-ms-input-placeholder,
.write-us__item textarea:focus::-ms-input-placeholder,
.write-us__item textarea:focus::-webkit-input-placeholder,
.write-us__item textarea:focus:-moz-placeholder,
.write-us__item textarea:focus::-moz-placeholder {
  color: #444444;
}

.write-us__button-send {
  padding: 16px 90px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}
